<!--[if lt IE 10]>
<div class="ie">
<div class="ie__hold">
<h3>#{title}</h3>
<h4>#{subtitle}</h4>
<p>恐れ入りますが、ご利用のブラウザ(インターネット閲覧の為のソフト)は古いバージョンのため、<br />本Webサイトではサポートされておりません。</p>
<p>古いバージョンのブラウザは、脆弱性等の懸念があるためセキュリティ上、非表示としております。</p>
<p>本サイトを閲覧するには、<a href="http://browsehappy.com">最新のブラウザをインストール</a>してからご覧ください。</p>
</div>
<p class="ie__btn" id="js-clearBtn">この表示を削除する</p>
</div>
<![endif]-->