- var version = "0.0.1"
- var analytics = "UA-00000000-0"
- var title = "web-starter-pug"
- var subtitle = "My static website starter kit."
- var description = "My static website starter kit."
- var keywords = "pug,sass,es2015,babel,webpack2"
-
  var pages = {
    top: {
      title: title,
      description: description,
      keywords: keywords
    },
    pageName: {
      title: 'titleName',
      description: 'description',
      keywords: 'keywords'
    }
  }