- var version = "0.0.1"
- var analytics = "UA-00000000-1"
-
  var pages = {
    top: {
      name: 'タイトル',
      title: 'タイトル',
      description: 'ディスクリプション',
      keywords: 'キーワード'
    },
    about: {
      name: 'タイトル',
      title: 'タイトル',
      description: 'ディスクリプション',
      keywords: 'キーワード'
    }
  }